<div class="row">
	<div class="col-md-6">
		<h1><b>PHIL NGUYEN</b></h1>
		
		<p class="lead">Nice to meet ya.</p>

		<p>I live in New York City but grew up near Chicago.</p>
		
		<p>I send out a morning email newsletter with over 1k subscribers that prepares you with the news for the day ahead. It's called <a href="http://www.the-dwc.co">The Daily Water Cooler</a>.</p>
		
		<p>My latest project is <a href="http://www.refout.com">Ref Out</a>, which aims to provide a database of helpful information for prospective job seekers in finance.</p>
		
		<p>I also currently have a day job as an investment associate at a large asset manager. Views on social media do not reflect those of my employer.</p>
		
		<p>Previously, I was an investment banker in Chicago where I advised troubled and distressed companies. Before that, I spent four years surrounded by the majestic cornfields of the University of Illinois at Urbana-Champaign.</p>
		
		<p>I'm a self-taught graphic designer and currently in the process of learning to code (HTML, CSS, Javascript, Ruby on Rails, Python). I love trying out new technology and exploring the different applications it can have. Particularly interested in media and music startups.</p>

		<p>I make <a href="http://www.soundcloud.com/philthywin">mixtapes of songs</a> I listen to. And I walk fast.</p>

	</div>
	<div class="col-md-6 text-center">
		<%= image_tag "profile-pic.png", :style => "margin-top: 25px;" %>
</div>
